# Entornos virtuales
venv/
.env

# Datos y datasets
data/
*.zip
*.tar.gz

# Modelos entrenados
*.pth
*.pkl
*.h5

# Resultados y logs
results/
runs/
.ipynb_checkpoints/
wandb/
static/
outputs/
uploads/